certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
idna==3.10
imageio==2.37.0
joblib==1.4.2
kagglehub==0.3.10
lazy_loader==0.4
networkx==3.4.2
numpy==2.2.3
opencv-python==4.11.0.86
packaging==24.2
pillow==11.1.0
PyYAML==6.0.2
requests==2.32.3
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
threadpoolctl==3.5.0
tifffile==2025.2.18
tqdm==4.67.1
urllib3==2.3.0
